body{background-color: #FFFFFF;
     color: #292f36;}

body {
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
#header, main, footer{
    padding: 0px;
    margin: 0px;
}

#header{
    display: flex;
}
#title, nav a{
    padding: 3vh 3vw 3vh 3vw;
    margin: 1vw 1vh 1vw 1vh;
    display: inline-block;
    text-align: center;
}
#title{
    flex-grow: 1;
}
nav{
    display: flex;
    flex-grow: 3;
    justify-content: center;
    flex-wrap: wrap;
}
nav a{
    border-radius: 4vh;
    font-size: medium;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
a, a:active{
    color: #292f36;
    text-decoration: none;
}

p{
    margin: 0px;
}

#mainBody{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
section{
    width: calc(100vw-12vw);
    height: 150px;
    padding: 6vh 6vw 6vh 6vw;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: inline-start;
}
section:hover{
    animation-name: sectionBounce;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes sectionBounce {
    0%{height: 150px;}
    100%{height: 170px;
         margin-top: 10px;margin-bottom: 10px;}
}
section h1, section .sectionHalf{
    margin: 2vh 2vw 2vh 2vw;
    width: calc(50% - 4vw);
    text-align: center;
}
section h2, section p, section ol{
    margin: 2vh 2vw 2vh 2vw;
    width: calc(33% - 4vw);
    text-align: center;
}
.left{
    margin-left: 5vw;
    text-align: left;
}

.panel{
    background-color: #FFFFFF;
    width: 70vw;
    padding: 2vw;
    margin: 5vh 13vw 5vh 13vw;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4vw;
    display: block;
}

.codeSnippet{
    background-color: rgb(234, 234, 234);
    border-color: #6E6E6E;
    color: #6E6E6E;
    font-family: 'Consolas';
    text-align: left;

    margin: 1vh 1vw 1vh 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vh;

    border-style: solid;
    border-width: 1px;
    border-radius: 0.5vw;
}
.codeSnippet li{
    background-color: white;
    padding-left: 0.5vw;
}
#progressBar{
    width: 70vw;
    padding: 0vw;
    margin: 0px 15vw 0px 15vw;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4vw;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.progressBarElement{
    display: block;
    width: 100%;
    height: 20px;
    margin: 5px;
    padding: 0px;
}
.progressBarElement:hover{
    animation-name: progressBarBounce;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes progressBarBounce {
    0%{height: 20px;}
    100%{height: 26px;
         margin-top: 2px;margin-bottom: 2px;}
}
/*.createPostPage{*/
/*    box-sizing: border-box;*/
/*    display: block;*/
/*    width: 200px;*/
/*    padding: 20px;*/
/*    border-radius: 30px;*/
/*}*/
.createPost{
    font-family: Arial;
    color: #292f36;
    box-sizing: border-box;
    padding: 5rem;
    border-radius: 1rem;
    background-color: #5E6CFF;
    border-color: darkgray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    font-weight: bold;

}
.editPostButton{

}
.postsubmitButton {
    box-shadow: 0px 0px 0px 2px #5E6CFF;
    background-color: #FFFFFF;;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#292f36;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
.postsubmitButton:hover {
    background:linear-gradient(to bottom, #FFFFFF 5%, #FFFFFF 100%);
    background-color:#5E6CFF;
}
.postsubmitButton:active {
    position:relative;
    top:1px;
}

@media only screen and (max-width: 1000px) { /*Taken from https://www.w3schools.com/cssref/css3_pr_mediaquery.php*/
    
    section, section:hover{
        height: fit-content;
        animation-name: none;
        flex-direction: column;
    }
    section h1, section .sectionHalf, section h2, section p, section ol{
        width: auto;
    }
    #progressBar{
        width: 90vw;
        margin: 0px 5vw 0px 5vw;
    }
    #header{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
}