body {
    background-color: #2A024F;
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#header, main, footer {
    box-shadow: 0.5vw 1vh 15px #1a0132;

    width: 72vw;
    margin: 3vh 14vw 0px 14vw;
    border-radius: 1vw;
}

#header{
    background-color: white;
}

main {
    background-color: white;
}
#mainBody{
    padding: 1vh 1vw 1vh 1vw;
}

footer {
    background-color: #440381;
    color: white;
}
#footerBody{
    padding: 1vh 1vw 1vh 1vw;
}

#title{
    padding: 3vh 3vw 3vh 3vw;
}
h1 {
    margin: 0px;
}

nav {
    background-color: #440381;

    margin: 0px;
    border-radius: 1vw;
    position: relative;
    top: 1px;
}
nav a, nav a:active {
    color: white;

    padding: 2vh 2vw 2vh 2vw;
    display: inline-block;
    border-radius: 1vw;
}
nav a:hover {
    background-color: #531CB3;
}

.codeSnippet{
    background-color: rgb(234, 234, 234);
    border-color: #6E6E6E;
    color: #6E6E6E;
    font-family: 'Consolas';

    margin: 1vh 1vw 1vh 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vh;

    border-style: solid;
    border-width: 1px;
    border-radius: 0.5vw;
}
.codeSnippet li{
    background-color: white;
    padding-left: 0.5vw;
}