<?php
require_once ".PHP/ConnectionConfig.php";
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnWebDev Login Page</title>
    <link href="css/Styles.css" rel="stylesheet">
</head>
<body>
    <form action="login.php" method="post">
        <div class="loginForm">
        <p>Username: <input type = "text" name="username" placeholder="Username"></p>
        <p>Password: <input type = "text" name="password" placeholder="Password"></p>
        <br>
        <button type = "submit">Submit</button>
        </div>
    </form>
</body>
</html>

