<div>
    <form class="createPost" action="" method="post" >
<!--                style="font-family: Arial;color: #292f36"-->
        <label for ="postTitle">Title of Post</label>
        <input type="text" id="postTitle" name = "postTitle" required>

        <label for ="postAuthor">Author of Post</label>
        <input type = "text" id="postAuthor" name="postAuthor" required>

        <label for ="postCategory">Category of Post</label>
        <input type="text" id="postCategory" name="postCategory" required>

        <label for ="postContent">Content of Post</label>
        <textarea id="postContent" name="postContent" required></textarea>

        <button type="submit" name="submit" class="postsubmitButton">Create</button>
    </form>
</div>