<div id="header">
    <span id="title">LearnWebDev</span>
    <nav>
        <a href="index.php">Home</a>
        <a href="articles.php?topic=HTML&article=0">HTML</a>
        <a href="articles.php?topic=CSS&article=0">CSS</a>
        <a href="articles.php?topic=javascript&article=0">JavaScript</a>
        <a href="articles.php?topic=Client_Server_Model&article=0">Client Server Model</a>
        <a href="CreatePost.php">Create new post</a>
        <a href="loginForm.php">Login</a>
    </nav>
</div>