<div id="header">
    <span id="title"><h4>LearnWebDev</h4></span>
    <nav>
        <a href="index.php"><p>Home</p></a>
        <a href="articles.php?topic=HTML&article=0"><p>HTML</p></a>
        <a href="articles.php?topic=CSS&article=0"><p>CSS</p></a>
        <a href="articles.php?topic=Javascript&article=0"><p>JavaScript</p></a>
        <a href="articles.php?topic=Client+Server+Model&article=0"><p>Client Server Model</p></a>
        <a href="CreatePost.php"><p>Create new post</p></a>
    </nav>
    <div id="user">
        <a href="loginForm.php">Login</a>
        <span>&nbsp;|&nbsp;</span>
        <a href="RegisterForm.php">Register</a>
    </div>
    <script src="Resources/Components/Shared/Scripts/header.js"></script>
</div>